<!-- <ngx-spinner></ngx-spinner> -->
<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">Image Management</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard/dashboard1"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Add Image</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
         

          <div class="card-body">
            <div class="form-group">
              <div class="col-md-12">

                   <!-- image-upload.component.html -->

<div class="image_container" *ngIf="imageFile">
 <p><strong> <h3>Uploaded Image:</h3></strong></p><br><br>
  <img [src]="getUploadedImageUrl()" alt="Uploaded image" width="200" height="400">
  <div class="content">
    <p>Image Dimensions:</p>
    <p>Length: {{ wid }} cm</p>
    <p>Width: {{ len }} cm</p>
    <p>No. of Kernels: {{ count }} Kernels</p>
  </div>
</div>

<h1 style="text-align: center;">Upload Image</h1>
<form method="POST" id="upload-form" (submit)="uploadImage()" enctype="multipart/form-data" style="text-align: center;">
  <input type="file" name="image" (change)="onFileChange($event)">
  <input type="submit" value="Upload">
</form>
      
        

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


