<section id="image">
  <div class=row>
    <div class=" col-md-12 ">
      <div class="row">
        <div class="container-fluid">
          <div class="row text-left">
            <div class="col-md-8">
              <div class="content-header" style="font-size: 20px">User Management</div>
              <br>
              <p class="content-sub-header"> <a routerLink="/dashboard"><span
                    style="font-size: 15px">Home</span></a>
                <span style="font-size: 15px">/Update User</span>

              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
      
        <div class="card-body">
          <div class="form-group">
            <div class="col-md-12">

              <form  class="form" #addClassForm="ngForm" novalidate>

                
                <div class="form-body">
                  <button type="button" class="btn btn-raised btn-primary mr-2" routerLink="/user-management">
                    <i class="ft-align-justify"></i>UsersList
                  </button>
                 
                  <!-- <h4 class="form-section"><i class="ft-info"></i> Info & Bio
                  </h4> -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="username">
                          <span *ngIf="user.username == undefined || user.username =='' "
                            style="color: red">*</span>Name</label>
                        <span class=" text-muted danger"
                          *ngIf="!username.valid && (username.dirty || username.touched)">
                          is required!
                        </span>
                        <input type="text" id="username" class="form-control border-primary" name="username"
                          [(ngModel)]="user.username" ngModel #username="ngModel" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="organization">
                          <span *ngIf="user.organization == undefined || user.organization =='' " style="color: red">*</span>
                          Organization</label>
                        <span class=" text-muted danger"
                          *ngIf="!organization.valid && (organization.dirty || organization.touched)">
                          is required!
                        </span>
                        <input type="text" id="organization" class="form-control border-primary" name="organization"
                          [(ngModel)]="user.organization" ngModel #organization="ngModel" required>
                      </div>
                    </div>
                  </div>
		            <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="email">
                          <span *ngIf="user.email == undefined || user.email =='' "
                            style="color: red">*</span>Email ID</label>
                        <span class=" text-muted danger"
                          *ngIf="!email.valid && (email.dirty || email.touched)">
                          is required!
                        </span>
                        <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" class="form-control border-primary" name="email"
                          [(ngModel)]="user.email" ngModel #email="ngModel" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="phoneNumber">
                          <span *ngIf="user.phoneNumber == undefined || user.phoneNumber =='' " style="color: red">*</span>
                          
                          Phone Number</label>
                          
                        <span class=" text-muted danger"
                          *ngIf="!phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">
                          <span *ngIf="phoneNumber.errors.required">is required!</span>
                          <span *ngIf="phoneNumber.errors.pattern"> PhoneNumber No must be 10 digits</span>
                        </span>
                                                
                        <input type="tel"  id="phoneNumber" class="form-control border-primary" name="phoneNumber"
                         [(ngModel)]="user.phoneNumber" ngModel #phoneNumber="ngModel" pattern="[0-9]{10}" maxlength="10" required>
    
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="stateSelect">State</label>
                        <select required [(ngModel)]="state" (change)="onCitiesSelected($event.target.value)" id="state" name="state" class="form-control border-primary">
                          <option>Select State</option>
                          <option *ngFor="let state of states" [value]="state.name">
                            {{ state.name }}
                          </option>
                        </select>
                      </div>
                      </div>
                    
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="citySelect">City</label>
                          <select required [(ngModel)]="city" id="city" name="city"
                            class="form-control border-primary">
                            <option>Select City</option>
                            <option [ngValue]="city" *ngFor="let citys of citys">
                              {{citys.name}} </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  <!-- <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="state">
                          <span *ngIf="user.state == undefined || user.state =='' "
                            style="color: red">*</span>State</label>
                        <span class=" text-muted danger"
                          *ngIf="!state.valid && (state.dirty || state.touched)">
                          is required!
                        </span>
                        <input type="text" id="state" class="form-control border-primary" name="state"
                          [(ngModel)]="user.state" ngModel #state="ngModel" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="city">
                          <span *ngIf="user.city == undefined || user.city =='' " style="color: red">*</span>
                          City</label>
                        <span class=" text-muted danger"
                          *ngIf="!city.valid && (city.dirty || city.touched)">
                          is required!
                        </span>
                        <input type="text" id="city" class="form-control border-primary" name="city"
                          [(ngModel)]="user.city" ngModel #city="ngModel" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="roleSelect">Select Role</label>
                          <select class="form-control border-primary" [(ngModel)]="user.role" required id="role" name="role">
                            <option value="OWNER">Owner</option>
                            <option value="STORE_ADMIN">Store Admin</option>
                            <option value="SUPER_ADMIN">Super Admin</option>
                            <option value="manager">Manager</option>
                            <option value="DIRECTOR_OF_OPERATION">Director Of Operation</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <fieldset class="form-group">
                          <label for="roleSelect">Select Password criteria</label>
                          <select class="form-control border-primary" [(ngModel)]="user.passLength" required id="passLength" name="passLength">
                            <option Value="four">
                              4 DIGITS </option>
                              <option value= "six" >6 DIGITS</option>
                          </select>
                        </fieldset>
                      </div>
                    </div>
                    
                  </div> -->

                  <!-- <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="password">
                          <span *ngIf="user.password == undefined || user.password == ''" style="color: red">*</span>
                          Password
                        </label>
                        <span class="text-muted danger" *ngIf="!password.valid && (password.dirty || password.touched)">
                          is required!
                        </span>
                        <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password"
                          ngModel #password="ngModel" required />
                      </div>
                    </div> -->
                   
                    <!-- <div class="col-md-6">
                      <div class="form-group">
                        <label class="form-control-label" for="reenterPassword">
                          <span *ngIf="user.reenterPassword == undefined || user.reenterPassword =='' " style="color: red">*</span>
                          Re-Enter Password</label>
                          
                        <span class=" text-muted danger"
                          *ngIf="!reenterPassword.valid && (reenterPassword.dirty || reenterPassword.touched)" >
                          is required!
                        </span>
                        <input type="reenterPassword" id="reenterPassword" class="form-control border-primary" name="reenterPassword"
                          [(ngModel)]="user.reenterPassword" ngModel #reenterPassword="ngModel" required
                           pattern="^[0-9]*$" [maxlength]="user.passLength" [minlength]="user.passLength">
                      </div>
                    </div>
                     -->
                    <!-- </div> -->

                  <!-- <h4 class="form-section"><i class=""></i> Login Credentials
                  </h4> -->
                  

                  

                    
                    <!-- <div class="row">
                    <div class="col-md-6">
                      <div class="form-check">
                        <label>Status</label><br> <label class="radio-inline mr-1">
                          <input type="radio" name="isActive" [(ngModel)]="user.active" [value]=true
                            ng-checked="!user.active"> Active
                        </label> 
                        <label class="radio-inline"> <input type="radio" name="isActive"
                            [(ngModel)]="user.active" [value]=false> Inactive
                        </label>
                      </div>
                    </div>
                  </div>
                </div> -->


                <!-- <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="d-block">Status</label>
                      <div class="input-group">
                        <div class="custom-control custom-radio d-inline-block float-left">
                          <input type="radio" checked id="active" name="active" class="custom-control-input"
                            [value]=true [(ngModel)]="user.active">
                          <label class="custom-control-label" for="active">Active</label>
                        </div>
                        <div class="custom-control custom-radio d-inline-block float-left ml-1">
                          <input type="radio" id="inactive" name="inactive" class="custom-control-input"
                            [value]=false [(ngModel)]="user.active">
                          <label class="custom-control-label" for="inactive">In Active</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  -->

                </div>



                <div class="form-actions center">
                  <button type="button" class="btn btn-raised btn-primary mr-1" (click)="updateUserManagement()"
                  [disabled]="!addClassForm.valid">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
                  <button type="reset" class="btn btn-raised btn-warning mr-1" routerLink="/user-management">
                    <i class="ft-x"></i> Cancel
                  </button>
                 
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

