<ngx-spinner></ngx-spinner>
<section id="minimal-statistics-bg">
  
<div  class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-12" *ngFor="let city of cities">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-center">
								<button type="button" class="btn btn-raised " style="color:white"
								routerLink="/reports/assessmentreport">
								{{city.name}}</button>
						</div>
          </div>
				</div>
			</div>
		</div>
	</div>
  <!-- <div class="col-xl-4 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-center">
								<button type="button" class="btn btn-raised " style="color:white"
								routerLink="/reports/assessmentreport">
								Warangal</button>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div> 
  <div class="col-xl-4 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-center">
								<button type="button" class="btn btn-raised " style="color:white"
								routerLink="/reports/assessmentreport">
								Suryapet</button>
						</div>
          </div>
				</div>
			</div>
		</div>
	</div>
   -->
  </div>

</section>